:root {
  --shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.buttons {
  box-shadow: var(--shadow);
  padding: 10px 25px;
  border-radius: 7px;
  font-weight: 500;
  max-width: 27%;
  display: flex;
  justify-content: center;
}

.buttons:hover {
  box-shadow: rgb(0 0 0 / 45%) 0px 5px 15px;
}
